$c-main: #950740;
$c-main-light: #a81550;
$c-main-lighter: #c90f59;

$c-main-white: #fcf9fb;

$c-main-black-lighter: #34343b;
$c-main-black-light: #232327;
$c-main-black: #1a1a1d;
$c-main-blacker: #0b0b0c;

.is-vcenter {
    display: flex;
    align-items: center;
  }
  
.is-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-btn {
  color: $c-main-white;
  margin: 1em;
  border: 0;
  background-color: $c-main;
  &:hover {
    cursor: pointer;
    background-color: $c-main-light;
    transition: .5s;
  }
}