$c-main: #950740;
$c-main-light: #a81550;

$c-main-white: #fcf9fb;

$c-main-black-lighter: #3c3c42;
$c-main-black-light: #2b2b2e;
$c-main-black: #1a1a1d;

.is-vcenter {
    display: flex;
    align-items: center;
  }
  